.cards {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner {
    background-image: url("running.jpeg");
    /* background-attachment: fixed; */
    background-size: cover;
    color: white;
    margin-bottom: 0;
}

.display-3 {
    font-weight: 350;
}

.jumbotron {
    margin-bottom: 0;
}

.sec {
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 400px;
    display: flex;
    
    margin-right: auto;
    align-items: center; /* align vertical */
    margin-bottom: 0;
    padding: 5%;
}

.sec1 {
    background-image: url("sec1.jpeg");
    text-align: right;
    justify-content: flex-end;

}

.sec2 {
    background-image: url("sec2.jpeg");
}

.sec3 {
    background-image: url("sec3.jpeg");
    text-align: right;
    justify-content: flex-end;
}

.secText {
    font-size: 50px;
    font-weight: 400;
}

.lead {
    font-size: 25px;
}

img {
    opacity: 0.5;
}